* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

.corner {
    font-size: 18px;
    line-height: 28px;
    position: fixed;
    bottom: 0; left: 0;
    padding: 6px 10px;
    margin: 0 0 10px 10px;
    background-color: rgba(240,240,240,0.8);
}

.square {
    width: 33.3%;
    aspect-ratio: 1;
    float: left;
    display: flex; 
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: transparent;
}


.column {
    float: left;
    width: 33.3%;
    height: 100%;
    padding: 0 12px 12px;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
        height: auto;
        padding-bottom: 30px;
    }

    #last {
        padding-bottom: 120px;
    }
}

.large {
    display: block;
    margin: 12px 0;
    font-size: 28px;
    font-weight: bold;
}